body {
  background-color: #000000;
  color: white;
}

.container {
    margin-top: 30px;
  }
  footer {
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 12%, rgba(9,9,121,1) 44%, rgba(0,212,255,1) 100%);
    
    padding: 10px;
    color: white;
    text-align: center;
  }
  .gpu,
  .cpu,
  .mb,
  .ram,
  .rom,
  .psu {
    height: 270px;
  }
  
  

  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0, 27, 117);
    transition: transform 0.3s;
    background-color: #222;
    color: rgb(255, 255, 255);
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-title {
    margin-top: 10px;
  }
  
  
  
  header {
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 12%, rgba(9,9,121,1) 44%, rgba(0,212,255,1) 100%);
    padding: 10px;
    color: white;
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
 
  h5{
      color:#0e89fc;
  }